.navbar li a {
    font-family: 'Tourney', cursive;
    
}


h1 {
    font-size: 55px;
    font-family: 'Benne', serif;
}

h2 {
    font-family: 'Yellowtail', cursive;
    font-size: 42px;
}

.carousel-item {
    overflow: hidden;
}

.card-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

a:link {
    text-decoration: none;
}


iframe {
    width: 100%;
}






/*           Keyframe pr animation bottom to top:
@keyframes play_cards {
    from {
        margin-top: 100%;
        width: 100%;
    }
    to {
        margin-bottom: 0%;
        width: 100%;
    }
}

@-webkit-keyframes play_cards {
    0% {
        margin-top: 100%;
        width: 100%;
      }
      100% {
        margin-bottom: 0%;
        width: 100%;
      }
}

body {
    animation-name: play_cards;
    animation-delay: 2ms;
    animation-duration: 2.5s;
    animation-iteration-count: initial;
    -webkit-animation-name: play_cards;
    -webkit-animation-iteration-count: initial ;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-delay: 2ms;
}
*/
